
@{
    ViewBag.Title = "BookEntry";
}
<style>
    main{
        padding: 10%;
        background-color: lightgrey;
        color: black;
        margin:auto;
    }

    #stat {
        font-size: 10px;
        font-family: Poppins;
        color: darkred;
    }

    #price2 {
        display: flex;
        align-items: center;
    }

    #price,
    #value,
    #priceValue {
        display: inline-block;
        margin: 5px;
    }
</style>
<main>
    
    <h2>You Enter Your Book Details Here!!!</h2>


    <label for="title">Book Title:</label>
    <input id="title" type="text" name="booktitle" />
    <br />
    <label for="genre">Genre:</label>
    <input id="genre" type="text" name="genre" multiple />
    <br />
    <div id="priceAll">
        <div id="price1">
            <label for="price">Price you intend to sell:</label>
            <p id="stat">PS:15% of the price you enter will be taken as the platform fee</p>
        </div>
        <div id="price2">
            <input type="text" id="priceValue" />
            <input id="price" type="range" name="price" min="100" max="5000" step="1" />
            <p>Price: <output id="value"></output></p>

        </div>
    </div>
    <button onclick="submitData()">Submit</button>
</main>

<script>
    //when range value changes, output value changes
    const value = document.querySelector("#value");
    const input = document.querySelector("#price");
    value.textContent = input.value;
    input.addEventListener("input", (event) => {
        value.textContent = event.target.value;
    });
    //when entering a value in the textbox, range value changes, output value also changes
    const scale = document.querySelector("#priceValue");

    scale.addEventListener("input", (event) => {
        value.textContent = event.target.value;
        input.value = event.target.value; // Update the range input value
    });
    //when textbox value changes, range input value changes
    const textInput = document.getElementById('priceValue');
    const rangeInput = document.getElementById('price');
    rangeInput.addEventListener('input', function () {
        var textValue = this.value;
        textInput.value = textValue;
    });

    function submitData() {
        var bookTitle = document.getElementById("title").value;
        var bookGenre = document.getElementById("genre").value;
        var bookprice = document.getElementById("value").value;
        console.log(bookTitle)
        console.log(bookGenre)
        console.log(bookprice)
                  $.ajax({
           url: '@Url.Action("BookDataEntry/", "Home")',
           type: 'POST',
                      contentType: 'application/json',
                      data: JSON.stringify({ title: bookTitle, genre: bookGenre, price:bookprice }),
           success: function (result) {
               window.location.href = '@Url.Action("Index","Home")';
           },
           error: function (result) {
               alert("An Error occured while removing the item!")
           }
       })
    }
</script>

