
@{
    ViewBag.Title = "TopBooks";
}
<style>
    li{
        color:black;
    }
</style>

<h2>Top Selling Books Of The Month</h2>
@foreach (string strbook in (List<string>)ViewData["topbooklist"])
            {
    <li>@strbook</li>
            }

